.container {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-top:100px;
      background:#fff;
      padding-bottom: 0px;
      padding-top:0px;
      width: 400px;
      height: 450px;
      border-radius:12px;
      box-shadow:5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  
border: 0.5px solid #f4e3e3;
/* border-margin-left: 40px; */
      /* box-shadow:20px; */

    }
    .header{
      align-items:center;
      display: flex;
      flex-direction:column;
      gap:9px;
      width:100%;
      margin-top:30px;
    }

    .text{
      color:#3c009d;
      font-size:30px;
      font-weight:500;
    }
    .underline{
      width:45px;
      height: 3px;
      background:#3c009d;
      border-radius:9px;
    }
    .inputs{
      margin-top:55px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top:30px;
    }

    .input{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: 300px;
      height: 50px;
      background: #eaeaea;
      border-radius: 6px;
    }
    .input img{
      margin:0px 30px;
      text-align: left;
      margin-top:10px;
      margin-left:-240px;
      width:15px;
    }
    .input input {
      height: 50px;
      width: 400px;
      background: transparent ;
      border: none;
      outline: none;
      color: #797979;
      font-size: 15px;
      margin-left:200px;
      font-weight: 80px;
      margin-top:-30px;
    }
    
    .forgot-password {
      padding-left: 20px;
      margin-top: 22px;
      color: #797979;
      font-size: 12px;
    }

    .forgot-password span {
      color: #4c00b4;
      cursor: pointer;
    }
    .submit-container {
      display: flex;
      gap: 60px;
      margin: 60px auto ;
      padding-bottom: 30px;
    }
    .submit{
      display: flex;
      justify-content: center;
      align-items : center;
      width: 120px;
      height: 30px;
      padding: 5px 5px;
      color: #fff;
      background: #4c00b4;
      border-radius: 50px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 400;
      margin-top: -50px;
      
    }

    .submit:active {
      background-color: #4c00b4;
    }

    .submit:hover {
      background-color: rgba(229, 159, 67, 0.748);
    }
    

    .gray{
      background: #eaeaea;
      color:#676767;
    }
